<section class="about-section text-center" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="text-white mb-4">About</h2>
                <p class="text-white-50">
                    Our artisanal handcrafted products are made from locally sourced wood. Each product is unique as no 2 of wood are alike.
                    <br>
                    <br>
                    We create wood and epoxy resin creations to add a unique touch to your home.
                </p>
            </div>
        </div>
        <!--<img class="img-fluid" src="" alt="..." />-->
    </div>
</section>