<section class="catalogue-section bg-light" id="catalogue">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto text-center">
                <i class="fa fa-shopping-bag fa-2x mb-2"></i>
                <h2 class="mb-5">Catalogue</h2>
            </div>
        </div>
        <!-- Featured Catalogue Item -->
        <a href="{{ site.data.catalogue.featured.url }}" target="_blank">
            <div class="row align-items-center no-gutters mb-4 mb-lg-5">
                <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="assets/img/catalogue/{{ site.data.catalogue.featured.image }}" alt="..." /></div>
                <div class="col-xl-4 col-lg-5">
                    <div class="featured-text text-center text-lg-left">
                        <h4>{{ site.data.catalogue.featured.name }}</h4>
                        <p class="text-black-50 mb-0">{{ site.data.catalogue.featured.description }}</p>
                        <h4 class="mt-2 text-primary">{{ site.data.catalogue.featured.price }}</h4>
                    </div>
                </div>
            </div>
        </a>
        <!-- Catalogue Item Rows -->
        {% for item in site.data.catalogue.items  %}
        <a href="{{ item.url }}" target="_blank">
            <div class="row justify-content-center no-gutters {% cycle "mb-5 mb-lg-0", "" %}">
                <div class="col-lg-6"><img class="img-fluid" src="assets/img/catalogue/{{ item.image }}" alt="..." /></div>
                <div class="col-lg-6 {% cycle "", "order-lg-first" %}">
                    <div class="bg-black text-center h-100 catalogue">
                        <div class="d-flex h-100">
                            <div class="catalogue-text w-100 my-auto text-center {% cycle "text-lg-left", "text-lg-right" %}">
                                <h4>{{ item.name }}</h4>
                                <p class="mb-0 text-white-50">{{ item.description }}</p>
                                <hr class="d-none d-lg-block mb-0 {% cycle "ml-0", "mr-0" %}" />
                                <h4 class="mt-2 text-primary">{{ item.price }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</section>