<section class="catalogue-section bg-light" id="catalogue">
    <div class="container">
        <!-- Featured Catalogue Row-->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
            <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="assets/img/catalogue/geometric-white.png" alt="..." /></div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>Geometric White</h4>
                    <p class="text-black-50 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at maximus felis. Proin ullamcorper, neque nec consequat dictum, ipsum diam euismod sapien, at tempor sapien lacus ut lorem.</p>
                </div>
            </div>
        </div>
        <!-- Catalogue One Row-->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
            <div class="col-lg-6"><img class="img-fluid" src="assets/img/catalogue/geometric-black.png" alt="..." /></div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 catalogue">
                    <div class="d-flex h-100">
                        <div class="catalogue-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">Geometric Black</h4>
                            <p class="mb-0 text-white-50">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at maximus felis. Proin ullamcorper, neque nec consequat dictum, ipsum diam euismod sapien, at tempor sapien lacus ut lorem.</p>
                            <hr class="d-none d-lg-block mb-0 ml-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Catalogue Two Row-->
        <div class="row justify-content-center no-gutters">
            <div class="col-lg-6"><img class="img-fluid" src="assets/img/catalogue/sky-blue.png" alt="..." /></div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 catalogue">
                    <div class="d-flex h-100">
                        <div class="catalogue-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white">Sky Blue</h4>
                            <p class="mb-0 text-white-50">orem ipsum dolor sit amet, consectetur adipiscing elit. Integer at maximus felis. Proin ullamcorper, neque nec consequat dictum, ipsum diam euismod sapien, at tempor sapien lacus ut lorem.</p>
                            <hr class="d-none d-lg-block mb-0 mr-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>